.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .mat-elevation-z8 {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-paginator {
    margin-top: 20px;
  }
  
  .mat-row {
    height: 50px;
  }
  
  .mat-cell, .mat-header-cell {
    padding: 10px;
    text-align: left;
  }
  
  .mat-cell {
    font-size: 14px;
  }
  
  .mat-header-cell {
    background-color: #f1f1f1;
  }
  
  .mat-no-data-row {
    text-align: center;
    font-size: 14px;
    color: #ff5252;
  }
  