<mat-form-field>
    <mat-label>Filtrer par nom</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Alima" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
     
     
  
      <!-- ID Column -->
      <ng-container matColumnDef="idOrganisation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let organisation"> {{organisation.idOrganisation}} </td>
      </ng-container>
  
      <!-- Raison Sociale Column -->
      <ng-container matColumnDef="raisonSocial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Raison Sociale </th>
        <td mat-cell *matCellDef="let organisation"> {{organisation.raisonSocial}} </td>
      </ng-container>
  
      <!-- Type Organisation Column -->
      <ng-container matColumnDef="typeOrganisation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Organisation </th>
        <td mat-cell *matCellDef="let organisation"> {{organisation.typeOrganisation}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="emailOrganisation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let organisation"> {{organisation.emailOrganisation}} </td>
      </ng-container>
  
      <!-- Domaine Activité Column -->
      <ng-container matColumnDef="domaineActivite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Domaine d'Activité </th>
        <td mat-cell *matCellDef="let organisation"> {{organisation.domaineActivite}} </td>
      </ng-container>
  
      <!-- Header and Row Rendering -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let organisation; columns: displayedColumns;"></tr>
  
      <!-- No Data Row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">Aucune organisation trouvée</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10]" aria-label="Pagination des organisations"></mat-paginator>
  </div>
  