<mat-form-field>
  <mat-label>Filtre</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Aliou" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="idUser">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let user"> {{user.idUser}} </td>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nomUser">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let user"> {{user.nomUser}} </td>
    </ng-container>

    <!-- Prénom Column -->
    <ng-container matColumnDef="prenomUser">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
      <td mat-cell *matCellDef="let user"> {{user.prenomUser}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <!-- Téléphone Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
      <td mat-cell *matCellDef="let user"> {{user.telephone}} </td>
    </ng-container>

     <!-- Role Column -->
     <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let user"> {{user.role}} </td>
    </ng-container>


     <!-- Competences Column -->
     <ng-container matColumnDef="competences">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Competences </th>
      <td mat-cell *matCellDef="let user"> {{user.competences}}</td>
    </ng-container>

    <!-- Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">Aucune donnée correspondant au filtre "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>
</div>
