<div class="user-list-container">
  <div class="div ajout-user">
    <button (click)="show()" class="add-button">Ajouter</button>

    <!-- Formulaire de filtre -->
    <form [formGroup]="filterForm" class="filter-form">
      <mat-form-field appearance="fill">
        <mat-label>Filtrer par</mat-label>
        <mat-select formControlName="filterType" (selectionChange)="onFilterChange($event)">
          <mat-option value="nomUser">Nom</mat-option>
          <mat-option value="prenomUser">Prénom</mat-option>
          <mat-option value="role">Rôle</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="isFilterVisible" appearance="fill">
        <mat-label>Valeur du filtre</mat-label>
        <input matInput formControlName="filterValue" placeholder="Saisissez la valeur">
      </mat-form-field>
    </form>
  </div>

  <!-- Table d'affichage des utilisateurs -->
  <table class="table table-striped">
   
  <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Rôle</th>
        <th>Compétences</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <div *ngFor="let user of paginatedUsers">
        <td>{{ user.idUser }}</td>
        <td>{{ user.nomUser }}</td>
        <td>{{ user.prenomUser }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telephone }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.competences }}</td>
        <td>
          <button class="btn btn-outline-primary me-2">
            <i class="bi bi-pencil"></i>
            </button>
            <button (click)="deleteUsers(user.idUser)">Supprimer</button>
         </td>
        </div>
      </tbody>
  </table>

  <!-- Pagination -->
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
  
  <!-- Formulaire d'ajout d'utilisateur -->
  <div *ngIf="isFormVisible" class="addform">
    <h2>Ajout d'un Utilisateur</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nomUser" placeholder="Nom" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="prenomUser" placeholder="Prénom" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre">
          <mat-option value="homme">H</mat-option>
          <mat-option value="femme">F</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="telephone" placeholder="Téléphone" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Rôle</mat-label>
        <input matInput formControlName="role" placeholder="Rôle" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Compétences</mat-label>
        <input matInput formControlName="competences" placeholder="Compétences" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="motDePasse" placeholder="Mot de passe" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de Naissance</mat-label>
        <input matInput type="date" formControlName="dateNaissance" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numéro de Carte d'Identité</mat-label>
        <input matInput formControlName="numCarteIdentite" placeholder="Numéro de Carte d'Identité" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Photo de l'utilisateur</mat-label>
        <input type="file" (change)="onFileSelected($event, 'photoUser')" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Photo de la Carte d'Identité</mat-label>
        <input type="file" (change)="onFileSelected($event, 'photoCarteIdentite')" />
      </mat-form-field>

      <div class="btns">
        <button mat-raised-button color="primary" type="submit">Ajouter</button>
        <button mat-raised-button color="warn" (click)="hide()">Annuler</button>
      </div>
    </form>
  </div>
</div>
