/* Styles généraux pour le dashboard */
.dashboard-container {
  padding: 20rem; /* Espacement interne */
}

.dashboard-header {
  margin-bottom: 10rem; /* Espacement sous le header */
}

/* Styles pour le conteneur des cartes */
.dashboard-cards {
  display: flex; /* Utiliser flexbox pour l'alignement */
  flex-direction: column;
  justify-content: space-between; /* Espacement entre le contenu */
  align-items: center; /* Alignement centré */
  flex-wrap: wrap; /* Permettre aux cartes de passer à la ligne */
  justify-content: space-around; /* Espacement uniforme */
  gap: 10px; /* Espacement entre les cartes */
}

/* Styles pour chaque carte */
.card {
  // display: flex;
  // flex-direction: column; /* Alignement vertical */
  
  font-family: 'Roboto', sans-serif;
  width: 250px; /* Largeur de chaque carte */
  height: 150px; /* Hauteur de chaque carte */
  border-radius: 10px; /* Coins arrondis */
  padding: 10px; /* Espacement interne */
  background-color: #fff; /* Fond blanc */
  color: #000; /* Texte en noir */
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Ombre */
  transition: all 0.3s ease-in-out; /* Transition pour l'effet hover */
}

/* Effet hover pour les cartes */
.card:hover {
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* Ombre accentuée au survol */
}

/* Styles pour la première ligne dans chaque carte */
.top-row {
  display: flex;
  align-items: center; /* Alignement centré */
  justify-content: center; /* Alignement centré */
  width: 100%; /* Prendre toute la largeur */
}

.card span {
  font-size: 26px; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
}

.statistique {
  margin-top: 10px; /* Espacement au-dessus de la statistique */
  font-size: 30px; /* Taille de la statistique */
  font-weight: bold; /* Texte en gras */
}


/* Section pour le diagramme en bande */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 15px -15px;

  .col-md-12 {
    flex: 1;
    padding: 15px;

    .card {
      border-radius: 0.75rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s ease-in-out;
      background-color: #fff;

      .card-header {
        padding: 20px;
        border-bottom: 1px solid #eee;

        h5 {
          font-size: 1.25rem;
          font-weight: bold;
          color: #333;
        }

        .card-category {
          font-size: 0.875rem;
          font-weight: 600;
          color: #999;
          margin-bottom: 10px;
        }
      }

      .card-body {
        padding: 20px;
        
        canvas {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
