<div class="container" >
  <div class="item" style="background-color: #fff;">
    <div class="top-row">
      <i class="fa-solid fa-user monicone"></i>
      <span>Utilisateurs</span>
    </div>
    <h3 class="statistique">500</h3>
  </div>
  <div class="item" style="background-color: #fff;">
    <div class="top-row">
      <i class="fa-solid fa-shop monicone"></i>
      <span>Evenements</span>
    </div>
    <h3 class="statistique">90</h3>
  </div>
  <div class="item" style="background-color: #fff;">
    <div class="top-row">
      <i class="fa-solid fa-cart-shopping monicone"></i>
      <span>Produits</span>
    </div>
    <h3 class="statistique">productCount</h3>
  </div>
  <div class="item" style="background-color: #fff;">
    <div class="top-row">
      <i class="fa-solid fa-list monicone"></i>
      <span>Catégories</span>
    </div>
    <h3 class="statistique">categoryCount</h3>
  </div>
</div>

<!-- Diagramme en Bande -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Evenements</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body">
        <canvas id="chartHours" width="400" height="100"></canvas>
      </div>
    </div>
  </div>
</div>

