// .ressources{
//   display: flex;
//   align-content: center;
//   flex-wrap: wrap;
// }

// .ressource{
//   border: solid 1px ;
// }

.list-group-item{
  margin: 0 10px 0 10px ;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Place le bouton à droite */
    margin-right: 10px;
  }

  .button-container text-end mb-3{
    display: flex;
    justify-content: space-between;
  }
  
