<mat-form-field>
    <mat-label>Filtrer par libelle</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Daouda" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let evenement"> {{evenement.id}} </td>
      </ng-container>
  
      <!-- Libelle Evenement Column -->
      <ng-container matColumnDef="libelleEvenement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Libelle Evenement </th>
        <td mat-cell *matCellDef="let evenement"> {{evenement.libelleEvenement}} </td>
      </ng-container>
  
      <!-- Lieu Evenement Column -->
      <ng-container matColumnDef="lieuEvenement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu Evenement </th>
        <td mat-cell *matCellDef="let evenement"> {{evenement.lieuEvenement}} </td>
      </ng-container>
  
  
      <!-- Organisateur Column -->
      <ng-container matColumnDef="organisateur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Organisateur </th>
        <td mat-cell *matCellDef="let evenement"> {{evenement.organisateur}} </td>
      </ng-container>

       <!-- Email Column
       <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail </th>
        <td mat-cell *matCellDef="let organisation"> {{organisation.email}} </td>
      </ng-container>

       <!-- Contact Column -->
       <!-- <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
        <td mat-cell *matCellDef="let contact"> {{organisation.contact}} </td>
      </ng-container> --> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- No Data Row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">Aucun evenement trouvé</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10]" aria-label="Voir plus "></mat-paginator>
  </div>
  