<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Libellé de l'événement -->
      <mat-form-field appearance="fill">
        <mat-label>Libellé</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
  
      <!-- Description de l'événement -->
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
  
      <!-- Nombre de postes -->
      <mat-form-field appearance="fill">
        <mat-label>Nombre de postes</mat-label>
        <input matInput formControlName="nbrPoste" type="number">
      </mat-form-field>
  
      <!-- Type d'événement -->
      <mat-form-field appearance="fill">
        <mat-label>Type d'événement</mat-label>
        <input matInput formControlName="typeEvenement">
      </mat-form-field>
  
      <!-- Photo de l'événement -->
      <mat-form-field appearance="fill">
        <mat-label>Photo</mat-label>
        <input matInput formControlName="photo" type="file" (change)="onFileChange($event)">
      </mat-form-field>
  
      <!-- Lieu de l'événement -->
      <mat-form-field appearance="fill">
        <mat-label>Lieu de l'événement</mat-label>
        <input matInput formControlName="lieuEvenement">
      </mat-form-field>
  
      <!-- Date de début -->
      <mat-form-field appearance="fill">
        <mat-label>Date de début</mat-label>
        <input matInput formControlName="dateDebut" type="date">
      </mat-form-field>
  
      <!-- Date de fin -->
      <mat-form-field appearance="fill">
        <mat-label>Date de fin</mat-label>
        <input matInput formControlName="dateFin" type="date">
      </mat-form-field>
  
      <!-- Organisateur -->
      <mat-form-field appearance="fill">
        <mat-label>Organisateur</mat-label>
        <input matInput formControlName="organisateur">
      </mat-form-field>
  
      <!-- Bouton Submit -->
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  
    <!-- Carte pour afficher les données soumises -->
    <mat-card class="example-card" appearance="outlined" *ngIf="submittedData">
      <mat-card-header>
        <mat-card-title>{{ submittedData.title }}</mat-card-title>
        <mat-card-subtitle>{{ submittedData.typeEvenement }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="submittedData.photoUrl" alt="Event Photo">
      <mat-card-content>
        <p>{{ submittedData.description }}</p>
        <p><strong>Lieu:</strong> {{ submittedData.lieuEvenement }}</p>
        <p><strong>Date de début:</strong> {{ submittedData.dateDebut }}</p>
        <p><strong>Date de fin:</strong> {{ submittedData.dateFin }}</p>
        <p><strong>Organisateur:</strong> {{ submittedData.organisateur }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  