<!-- connexion.component.html -->
<div class="auth-container">
  <h1>Connexion</h1>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form-item">
      <i class="fas fa-envelope icon-orange"></i>
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Email"
        required
        email
        #emailField="ngModel">
      <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
        Veuillez entrer un email valide.
      </div>
    </div>

    <div class="form-item">
      <i class="fas fa-lock icon-orange"></i>
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Mot de passe"
        required
        minlength="8"
        #passwordField="ngModel">
      <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
        Au moins 8 caractères.
      </div>
    </div>

    <button type="submit" class="login">
      Se connecter <i class="fas fa-arrow-right"></i>
    </button>
  </form>
  <p class="signup-link">Vous n'avez pas de compte ? <a routerLink="/register">Inscrivez-vous</a></p>
  <a class="forgot-password" href="#">Mot de passe oublié?</a>
</div>